body {
  font-family: 'Montserrat-Bold';
  text-align: center;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
  color: #fff;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}


/* Testimonials */

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}


/* Containers */

.container-fluid {
  padding: 7% 15%;
}


/* Sections  */

.colored-section {
  background-color: #993d8d;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

.feature-box {
  padding: 2%;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}


/* Navigation Bar  */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Monteserrat';
}

.nav-link {
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
.nav-link:hover {
  background-color: #c949c9;
  padding: 10px 5px;
  }


/* Title Section  */

#title {
  background-color: #993d8d;
  color: #fff;
  text-align: left;
}


#title .container-fluid {
  padding: 3% 15%;
  text-align: left;
}


/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}


/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0%;
}

.download-button:hover{
  transform: translateY(-10px);
}


/* Pricing Section */

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
  /*3% Top-Bottom and 2% to Left-Right*/
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

#features {
  position: relative;
}

#testimonials {
  background: #ef8172;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.card:hover{
  transform: translateY(-20px);
}

/* CTA Section */


/* Footer Section  */

.footer-link {
  padding: 1%;
}

.social-icon {
  margin: 20px 10px;
}

/* Media Query */


@media (max-width: 1028px) {
  #title {
      text-align: center;
  }
  .title-image {
      position: static;
      transform: rotate(0);
  }
}